<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/general::head_entries"></th:block>
    <title>Fragments Demo</title>
</head>
<body>

<!--Fragmente aus /fragments/general-->
<div th:fragment="flex_container" class="flex_container">
    <div th:replace="fragments/general::header"></div>
    <main>
        <h1>Thymeleaf x Java 👽</h1>

        <p>
            <img src="https://i.giphy.com/sVv3SzMHqyQLu.webp" alt="staring contest with alien" width="500px">
        </p>

        <h2>References</h2>
        <a th:href="/strings">Strings</a>
        <a th:href="/numbers">Numbers</a>
        <a th:href="/date">Date</a>
        <a th:href="/collections">Collections</a>
        <a th:href="/person">Person</a>
        <a th:href="/persons">Persons</a>

        <a th:href="templates/graphics">Graphics</a>

        <h3>TheController.java</h3>
        <section>
            <i>org.springframework.ui.Model;</i>
            Dieses Model wird von Spring Boot verwaltet, es wird automatisch an die View weiter gereicht.
            Dem Model können beliebige Datenobjekte zugefügt werden.
        </section>


    </main>
<!--    <div th:replace="fragments/general::footer"></div>-->
</div>

</body>
</html>