<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>STRINGS</title>
</head>
<body>

<h1>STRINGS</h1>
<a href="/index.html">HOME</a>
<hr>
Output Text from String:
<code>tring txt = "Some text";</code>

<p th:text="${text}" /> <!-- Varaiable Expression -->
<code>p th:text="${text}"</code>

<p th:text="'Ausgabe: ' + ${text}"/>
<code>p th:text="'Ausgabe: ' + ${text}"</code>


</body>
</html>